<h1>Bookmarks</h1>
<form action="/bookmarks/create" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="url" placeholder="URL">
  <input type="submit" value="Add bookmark">
</form>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id=bookmark-<%= bookmark.id %>>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/update/<%= bookmark.id %>" method="get">
        <button>
          Update
        </button>
      </form>
      <form action="/bookmarks/delete/<%= bookmark.id %>" method="post">
        <button>
          Delete
        </button>
      </form>
    </li>
  <% end %>
</ul>
